@import url(http://fonts.googleapis.com/css?family=Oswald);

* {
	font-family: Oswald, Arial, sans-serif;
	font-size: 12px;
}

label {
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.5em;
}

.main {
	width: 100%;
	float: left;
}

.debug {
	width: 25%;
	float: right;
}

#pagination {
	margin: 10px 0px 10px 10px;
	overflow: auto;
}

.pagination {
	list-style: none;
	padding: 0;
}
.pagination li {
	display: inline-block;
	float: left;
}
.pagination li a {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}
	.pagination li a.active {
	  z-index: 2;
	  color: #fff;
	  cursor: default;
	  background-color: #337ab7;
	  border-color: #337ab7;
	}

#contactList {
	clear: both;
}

table {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 50px;
}

thead th {
	font-weight: bold;
	border-bottom: 1px solid black;
}

tbody tr {
	cursor: pointer;
}

tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;

}
tbody>tr:hover {
  background-color: #f5f5f5;
}

tbody td {
	text-align: center;
	padding: 10px 0px;
}



div#contactDetail {
  position: fixed;
  z-index: 100;
  left: 30%;
  top: 20px;
  background-color: white;
  padding: 20px 0px;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 10px;
  word-wrap: break-word;
  -webkit-box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.75);
}
div#contactDetail .wrapper {
	width: 80%;
	margin-left: 10%;
}

div#contactDetail .close {
  position: absolute;
  right: 20px;
  font-size: 2em;
  top: 2px;
  cursor: pointer;
}

@media (max-width: 480px) {
	div#contactDetail {
		width: 80%;
		left: 10%;
	}
}


@media (max-width : 500px)   {
  #searchName {
  	float: left;
  	margin-top: 10px;
  }
  #pagination {
  	clear: both;
  	margin-top: 40px;
  	margin-left: 10px;
  	margin-bottom: 10px;
  }
}